body
  color: rgba(255, 255, 255, 0.87)
  background-color: #55418E
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height: 1.5
  font-weight: 400
  min-width: 320px
  min-height: 100vh
  text-align: center
  
h1
  line-height: 1.1
  margin: 0

.home-con
  display: inline-flex
  text-align: center
  align-items: center
  margin: 10px
.home-img
  width: 40px
  height: 40px
  padding-right: 10px
.home-link
  background: #FFA500
  border-radius: 10px
  width: 40px
  height: 40px
  margin-left: auto
  text-align: center
  align-content: center
