.nav-con
    display: flex
    padding: 10px
    margin-top: 60px
.nav-link
    margin-left: auto
    text-align: center
    align-content: center
.nav-link img
    width: 19px
    height: 19px
.user-txt
    margin: 0
    text-align: left
.user-img
    margin-right: 20px
    background-color: #FFA500
    height: 40px
    border-radius: 50%
    -moz-border-radius: 50%
    -webkit-border-radius: 50%
    width: 40px

.achievement
    background-color: #ffa500
    display: inline-flex
    border-radius: 30px
    &-txt
        text-align: left
        color: white
        margin-right: 50px
        padding: 0px 15px 0px 15px
        margin: 10px
    &-img
        padding: 10px
        margin-right: 10px
        border: 3px solid #6d6b6b42
        height: 40px
        border-radius: 50%
        width: 40px
        text-align: center
        align-self: center

.infobox
    border: 1px solid grey
    border-radius: 30px
    width: 110px
    height: 100%
    padding: 10px
    margin: 12px auto
    &-title
        margin: 2px
        text-align: left
        font-weight: bold
        color: #55418E
    &-data
        text-align: left
        margin: 2px
        color: #ffa500
        font-weight: bold
.infobox-con
    display: flex
    gap: 5px
    flex-wrap: wrap
    margin: 4px
    max-width: 1000px
    width: 100%
    margin: 0 auto

