.nav-con
    display: flex
    padding: 20px
.nav-link
    margin-left: auto

.user-txt
    margin: 0
    text-align: left
.user-img
    margin-right: 20px
    background-color: #FFA500
    height: 40px
    border-radius: 50%
    -moz-border-radius: 50%
    -webkit-border-radius: 50%
    width: 40px
