li
    list-style: none
    text-align: left
    padding: 10px
ul
    padding: 0

.active
    font-style: none
    color: white
    text-decoration: none
    font-weight: bolder

.scooter-img
    width: 451px
    height: 602px
    position: absolute
    left: -100px
    top: 120px
    rotate: 10deg